@charset "UTF-8";



 body{ background-image: linear-gradient(to right,white,rgb(7, 7, 19));
      text-align: justify;
      

 }

 main{ font-style: color dark rgb(19, 11, 11);
      border-radius: 50px;
      background-color: aquamarine;
      width:600px;
      padding: 10px;
      margin:auto;box-shadow: 5px 5px 15px chocolate;
      height:100%
     
 }






